<!DOCTYPE html>
<html ng-app="pw2App">
<head>
    <meta charset="UTF-8">
    <title>CoteCar - Notícias de automóveis</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="bootstrap/js/jquery-1.12.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="angular/angular.min.js"></script>
	
	<script src="controladores.js"></script>
		
	<style type="text/css">
	   input.ng-invalid.ng-dirty{
		  border-color:#FF0000;
	   }
	   input.ng-valid.ng-dirty{
		  border-color:#00FF00;
	   }
	   
	</style>
</head>
<body>

    <header class="container-fluid" style="text-align: left">
        <div class="row">
            <div class="col-xs-12">
                <h1>CoteCar</h1>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-default" style="font-size: 20px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Carros</a></li>
                            <li><a href="#">Motos</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html">Quem Somos</a></li>
                    <li><a href="index.html">Contato</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="cadastro.html">Cadastro</a></li>
                </ul>
            </div>
        </div>
    </nav>
	
	<div class="container" ng-controller="CadastroController">
		<form method="post" name="frm" novalidate>
			<div class="row">
				<label for="usuario" class="col-xs-1">Usuário:</label>
				<input type="text" class="col-xs-4" name="usuario" id="usuario" ng-model="cadastro.usuario" required/>
				<span ng-show="frm.usuario.$invalid && frm.usuario.$dirty" class="text-danger"> Campo Usuário é obrigatório</span> <br/>
			</div>
			
			<br/>
			
			<div class="row">
				<label for="email" class="col-xs-1">Email:</label>
				<input type="email" class="col-xs-4" name="email" id="email" ng-model="cadastro.email" required/>
				<span ng-show="frm.email.$invalid && frm.email.$dirty" class="text-danger"> Campo Email é obrigatório</span> <br/>
			</div>
			
			<br/>
			
			<div class="row">
				<label for="nome" class="col-xs-1">Nome:</label>
				<input type="text" class="col-xs-4" name="nome" id="nome" ng-model="cadastro.nome" required/>
				<span ng-show="frm.nome.$invalid && frm.nome.$dirty" class="text-danger"> Campo Nome é obrigatório</span> <br/>
			</div>
			
			<br/>
			
			<div class="row">
				<label for="sexo" class="col-xs-1">Sexo:</label>
				<input type="radio" class="col-xs-1" name="sexo" value="masculino" ng-model="cadastro.sexo"/>Masculino <br/>
				<input type="radio" class="col-xs-1" name="sexo" value="feminino" ng-model="cadastro.sexo"/>Feminino
			</div>
			
			<br/>
			
			<div class="row">
				<label for="senha" class="col-xs-1">Senha:</label>
				<input type="password" class="col-xs-4" name="senha" ng-model="cadastro.senha" required/>
				<span ng-show="frm.senha.$invalid && frm.senha.$dirty" class="text-danger"> Campo Senha é obrigatório</span> <br/>
			</div>
			
			<br/>
			
			<div class="row">
				<input type="checkbox" name="receberEmail" class="col-xs-1" value="receberEmail" ng-model="cadastro.receberEmail"/>Deseja receber informações por email?
			</div>
			
			</br>
			
			<button type="reset" ng-click="limparNovo();">Limpar</button>
			<button type="submit" ng-click="inserirUsuario();" ng-disabled="frm.$invalid">Enviar</button>
		</form>
	</div>
	
</body>
</html>